img {
  float: right;
}
.elementchanger {
	border-radius: 25px;
	background-color: pink;
	position: absolute;
	  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 180px;
	text-align: auto;
	min-width: 300px;
	min-height: 300px;
	text-align: ;

}

